@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Lobster&family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Lobster&family=Mukta:wght@300&family=Yanone+Kaffeesatz&display=swap');
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --border-btn: 1px solid rgb(220, 220, 220);
    --color-base-bg: rgb(18, 18, 18);
    --color-base-text: rgb(240, 240, 240);
    --color-btn-bg: rgb(36, 36, 36);
    --bg-shadow: 16px 7px 20px -2px white; 
    --color: white;
  }

:root.light {
    --border-btn: 1px solid rgb(36, 36, 36);
    --color-base-bg: rgb(240, 240, 240);
    --color-base-text: rgb(18, 18, 18);
    --color-btn-bg: #5aa6c4;
    --bg-shadow:0 10px 20px -2px rgb(22, 22, 22);
    --color: #000;
  }




*{
    box-sizing:border-box;
    font-family: 'Lobster', cursive;
}



.content {
    width: 100vw;
    height: 100vh;
}

.content,
.logo{
    display: flex;
    flex-flow: row wrap;
}


/* left side */

.picture{
    background-image: url(./niekdesign-12NnjO1pdBQ-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo{
    height: auto;
    background-color: var(--color-base-bg);
    opacity: 0.7;
    position: relative;
    top: 15vh;
    gap: 1vw;
    padding: 15px 0;

    justify-content: center;
    align-items: center;
}

.img-logo{
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px 100px / 120px;
}

.img-logo:hover{
    transform: rotate(90deg);
    transition: transform 0.9s ease-in-out;
    transition-timing-function: cubic-bezier(.11,1.86,.08,1.7);
}

h2{
    color: var(--color-base-text);
    display: flex;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
}

.open {
    height: 10vh;
    text-align: center;
}






/* right side */

.right{
    width: 60vw;
    background-color: var(--color-base-bg);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.left{
    padding-left: 3vw;
}

.dummy-text{
    font-weight: 500;
    width: 90%;
    font-size: 1.7rem;
    color: var(--color-base-text);
    font-family: 'Lobster', cursive;
}

.remote-text{
    margin: 40px 0 80px;
}


/* form */
.form{
    background-color: var(--color-base-bg);
    box-shadow: var(--bg-shadow);
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--color-base-text);
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size:1.7rem;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    opacity: 50%;
    
}

.form-title{
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
}



input:focus{

    border: 2px solid var(--color-base-text);
}


input:invalid {
  border: 2px solid red;
}

      input + span {
        position: relative;
        margin-top: 13px;
      }

      input:required + span::after {
        font-size: 1rem;
        position: absolute;
        content: "required";
        color: #000;
        background-color: red;
        padding: 5px 10px;
        top: -64px;
        right: 0px;
      }
      

      

button{
    background-color: var(--color-btn-bg);
    color: var(--color-base-text);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--border-btn);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
    width: 20vw;
    max-width: 250px;
}

button:hover{
    background-color: #0c88c2;
    color: black;
}


.log-in{
    display: flex;
    gap: 5px;
    color: var(--color-base-text);
}

a{
    text-decoration: none;
    color: var(--border-btn);
    font-weight: 700;
}

a:hover{
    color: #0c88c2;
}

.theme{
    text-align: left;
    margin-top: 2vh; 
}
.theme-title{
    color: var(--color-base-text);
    padding-left: 3vw;
    margin-top: 2rem;
}

.theme-toggle:hover {
  cursor: pointer;
}
.theme-toggle:focus {
  outline: var(--border-btn);
}


.theme-toggle{
    margin-left: 3vw;
    margin-top: 2rem;
    
}

.theme-name{
    color: #0c88c2;
}
.theme-title{
    font-family: 'Lobster', cursive;
    font-size: 1.2rem;
}

.log-in *{
    font-family: 'Lobster', cursive;
    font-size: 1.2rem;
}

@media only screen and (max-width: 800px)  {
    .content{
        flex-flow: column;
        height: auto;
        text-align: center;
    }
    .picture{
        width: 100vw;
        height: 15vh;
        display: flex;
        background-size: 100vw;
    }
    .logo{
        width: 100vw;
        position: static;
        gap: 10px;
    }
    .right{
        width: auto;
        height: auto;
    }
    .dummy-text{
        width: auto;
        margin-top: 30px;

    }
    .left{
        padding: 10px 20px;
    }
    .remote-text{
        padding: 20px 0;
        margin: 0;
    }
    .form{
        flex-flow: column nowrap;
        align-items: center;

    }
    .input{
        text-align: left;
        width: auto;
        font-size: 0.9em;
        justify-content: center;
        align-items: center;
    }
    input{
        font-size: 0.9rem;
        height: 1.5rem;
        width: 70vw;
    }
    .requirements{
        width: 70vw;
        padding-top: 10px;
    }
    .button,
    .theme,
    .log-in{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0px;
    }
    button{
        margin-bottom: 0px;
        width: 60vw;
        padding: 10px 5px;
    }   
    
    
      input + span {
        position: relative;
        margin-top: 10px;
      }

    input:required + span::after {
        font-size: 1rem;
        position: absolute;
        content: "required";
        color: black;
        background-color: red;
        padding: 5px 10px;
        top: -61px;
        right: -10rem;      
        
    }

}
